################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CFX-Fivem-ThreadHandler/FileContentIndex
/.vs/CFX-Fivem-ThreadHandler/v17
/.vs
